.btn-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9;
    background-color: #ffffff;
    box-shadow: 3px 3px 6px #00000033;
    height: 52px;
    top: 52px;
}

.preview-btn {
    background-color: #ffffff;
    border: solid 2px blue;
    color: blue;
    border-radius: 20px;
    height: 35px;
    width: 160px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
}

.preview-btn span {
    margin-right: 5px;
}

.save-btn span {
    margin-right: 5px;
}

.save-btn {
    background-color: blue;
    border: solid 1px blue;
    color: #ffffff;
    border-radius: 20px;
    height: 35px;
    width: 160px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-survey__btn {
    font-family: Arial, Helvetica, sans-serif;
}

.center-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1.5rem 10rem;
}

.survey-container {
    margin-top: 104px;
}

.survey-content, .content-center {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 6px #00000033;
    padding: 1rem 3rem;
}

.survey-title {
    border-bottom: solid 1px #00000033;
}

.survey-title input {
    border: none;
    display: block;
    margin-bottom: 1px;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.survey-question {
    border: solid 1px #00000033;
    border-radius: 20px;
    padding: 10px 1rem;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.survey-header {
    display: flex;
    align-items: center;
}

.survey-header .question {
    border: none;
    outline: none;
    margin-right: auto;
    font-size: 1.3rem;
}

.survey-header .survey-menu {
    position: relative;
    margin-left: auto;
}

.survey-header .survey-menu img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.dropdown-survey__menu,
.survey-menu__show {
    position: absolute;
    display: none;
    background-color: #000000;
    top: 32px;
    right: 0;
}

.menu-active {
    display: block;
}

.dropdown-survey__menu::before,
.survey-menu__show::before {
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #000000;
    position: absolute;
    top: -7px;
    left: 81px;
}

.dropdown-survey__menu li,
.survey-menu__show li {
    color: #ffffff;
    padding: 5px 10px;
    list-style: none;
    width: 100px;
}

.dropdown-survey__menu li:hover,
.survey-menu__show li:hover {
    background-color: #333333;
    cursor: pointer;
}

.survey-menu__checkbox {
    position: absolute;
    right: 2px;
    top: 2px;
    opacity: 0;
    cursor: pointer;
}

.survey-menu__checkbox:checked ~ .dropdown-survey__menu {
    display: block;
}

.plus {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: blue;
    font-size: 4.5rem;
    font-weight: 500;
    border-radius: 50%;
    color: #ffffff;
    bottom: 2%;
    right: 2%;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.answer-survey {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: solid 1px #00000033;
    border-radius: 30px;
    margin-top: 10px;
}

.answer-survey .option-answer {
    height: 25px;
    width: 25px;
    background-color: #EBF0FE;
    margin-right: 5px;
    margin-left: 10px;
}

.answer-survey .option-label {
    font-size: 1.3rem;
    margin-right: auto;
}

.answer-survey .remove-btn {
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.text-answer {
    width: 100%;
    outline: none;
    border: 0;
    margin: 0 25px;
    font-size: 1rem;
}

.create-answer {
    border: solid 1px #0000001e;
    font-size: 1.3rem;
}

.option {
    margin: 0 5px;
}

.title-modal-content {
    padding: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 1px #00000033;
}

.closed-btn {
    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: blue;
    padding: none;
    cursor: pointer;
}

.modal-list {
    margin-top: 12px;
}

.modal-list__select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    outline: none;
    color: #333;
    font-size: 1.1rem;
}

.create-survey__button {
    display: block;
    width: 300px;
    height: 40px;
    margin: 20px auto;
}

.add-option__button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    font-size: 1rem;
}

.survey-description {
    margin: 10px 0;
}

.survey-description textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000033;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    padding: 10px 5px;
    resize: none;
}

@media screen and (max-width: 900px) {
    .survey-container, .center-container {
        padding: 1.5rem 5rem;
    }
}

@media screen and (max-width: 700px) {
    .survey-container, .center-container {
        padding: 1.5rem 1px;
    }

    .survey-content, .content-center {
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 400px) {
    .survey-title input {
        font-size: 1.5rem;
    }

    .survey-header .question {
        font-size: 1.2rem;
    }

    .answer-survey .option-label {
        font-size: 1.2rem;
    }

    .answer-survey .option-answer {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 330px) {
    .preview-btn {
        font-size: 15px;
        width: 110px;
    }

    .preview-btn img {
        display: none;
    }

    .save-btn img {
        display: none;
    }

    .save-btn {
        font-size: 15px;
        width: 110px;
    }

    .answer-survey {
        height: 45px;
    }

    .answer-survey .option-label {
        font-size: 1.1rem;
    }

    .plus {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 280px) {
    .survey-header .question {
        width: 187px;
    }
}