.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 3px 6px #00000033;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    height: 52px;
    top: 0;
}

.navbar-logo {
    width: 50px;
}


.navbar ul li {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.navbar ul li a {
    color: #333333;
    text-decoration: none;
}

.dropdown {
    position: relative;
    height: 52px;
}

.dropdown-menu {
    display: none;
    align-items: center;
    cursor: pointer;
}

.navbar ul li a:hover, .dropdown:hover {
    cursor: pointer;
}

.dropbtn {
    cursor: pointer;
    width: 20px;
}

.img-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px #00000033;
}

.img-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
}

.img-container img {
    width: 100%;
}

.dropdown-content {
    display: flex;
    align-items: center;
    list-style: none;
}

.dropdown-content a {
    padding: 12px 16px;
}

.navbar ul li .start-btn {
    background-color: blue;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
}

.dropbtn-right {
    display: none;
    width: 40px;
    cursor: pointer;
}

.active-dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    box-shadow: 0 3px 6px #00000033;
    z-index: -1;
    transform: translateX(0);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: block;
}

.dropdown-submenu__active {
    background-color: white;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
}

.active-dropdown-menu {
    padding: 0;
}

.inactive-dropdown-menu {
    transform: translateX(-100%);
    display: none;
}

.dropdown-list li {
    width: 100%;
    margin: auto;
}

.dropdown-list li a {
    background-color: #ffffff;
    font-size: 1rem;
    padding: 15px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.788);
    width: 100%;
}

.dropdown-list ul li:last-child a {
    border-bottom: none;
}

.img-right-container img {
    width: 100%;
}

.dropdown-menu > ul .username {
    justify-content: center;
    font-weight: 600;
}

.dropdown-list__profile {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.dropdown-profile {
    width: max-content;
}

.dropdown-profile__img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-profile__username {
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-logout {
    padding: 7px 0;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.navbar-item__link {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .dropdown-content a:hover {
        background-color: blue;
        color: #ffffff;
    }
    
    .navbar ul li .start-btn:hover {
        background-color: #0000ca;
    }
    
    .dropdown-menu > ul li a:hover {
        background-color: blue;
        color: #ffffff;
    }
    
    .dropdown-content .dropdown-submenu {
        display: none;
    }

    .dropdown-content .dropdown-submenu__active {
        position: absolute;
        display: block;
        top: 50px;
    }

    .dropdown-submenu__active ul {
        display: flex;
        flex-direction: column;
    }
}

.navbar-logout__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logout__button,
.navbar-cancel__button {
    margin: 0 5px;
    padding: 7px 0;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
    width: 50%;
}

.title-logout {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
    .dropbtn-right {
        display: block;
    }

    .navbar ul {
        position: absolute;
        right: 0;
        top: 50px;
        flex-direction: column-reverse;
        background-color: white;
        width: 100%;
    }

    .navbar ul li:first-child {
        z-index: 10;
    }

    .navbar-hidden {
        display: none;
    }
    
    .navbar ul li ul {
        display: flex;
        margin-top: 100px;
        flex-direction: column;
        height: 100vh;
    }

    .dropbtn {
        display: none;
    }

    .img-profile {
        width: max-content;
        height: max-content;
    }

    .img-container {
        width: 100px;
        height: 100px;
    }

    .dropdown-content {
        display: none;
    }

    .active-dropdown {
        display: flex;
    }
}