.delete-btn {
  border: solid 2px red;
  color: red;
  background-color: #ffffff;
}

.print-btn {
  border: solid 1px blue;
  color: #ffffff;
  background-color: blue;
}

.survey-results__cotainer {
  margin-top: 104px;
}

.open-answer {
  position: relative;
  display: flex;
  margin: 5px 10px;
  border-bottom: solid 1px #999999;
  transition: all 0.2s ease-in-out;
}

.answer-index {
  font-weight: 500;
  margin-right: 5px;
}

.answer-paragraph {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*Es la clase para mostrar el texto completo*/
.active__open-answer {
  white-space: normal;
}

.open-arrow {
  width: 30px;
  height: 30px;
  margin: auto 5px;
}

.survey-title {
  font-family: "Raleway", sans-serif;
}

.icon-collapse__content {
  font-size: 110px;
  line-height: 5px;
  height: 50px;
  transition: transform .1s ease;
}

.collapse-content__checkbox {
  position: absolute;
  right: 13px;
  top: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.collapse-content__checkbox:checked ~ .answer-paragraph {
    height: max-content;
    overflow: none;
    white-space: normal;
    text-overflow: clip;
}

.collapse-content__checkbox:checked ~ .icon-collapse__content{
    transform: rotate(180deg);
}

.title-result {
    font-size: 1.5rem;
    text-align: center;
}

.not-result {
    display: grid;
    place-items: center;
    width: 100%;
    height: 70vh;
}

.graphic {
    margin: 60px 0 50px 0;
    animation: statsAnimation .6s ease-out;
    animation-fill-mode: forwards;
}

.btn-delete__survey {
    cursor: pointer;
    display: block;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 40px;
    outline: none;
    border: 1px solid #555;
    padding: 10px 25px;
    color: white;
    font-size: 1.2rem;
    background-color: red;
}

@keyframes statsAnimation {
    0% {
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.title-not-result {
    font-weight: bold;
    font-size: 1.2rem;
}

.title-not-result > span {
    font-size: 1.3rem;

}

.not-result-img {
    width: 40%;
}